@charset "UTF-8";
/*========= Start 共通パーツ ===============*/
/*== テキスト共通設定 */
* {
  color: #333;
  font-family: "Sawarabi Gothic", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 3rem;
}

p {
  line-height: 1.5;
}

/*== ボタン共通設定 */
.btn {
  /*背景の基点とするためrelativeを指定*/
  position: relative;
  /*ボタンの形状*/
  display: inline-block;
  width: 100%;
  max-width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  outline: none;
  letter-spacing: 0.2rem;
  /*ボタン内側の設定*/
}
.btn span {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #333;
  /* 重なりを3Dで表示 */
  transform-style: preserve-3d;
  /* アニメーションの設定 数字が少なくなるほど早く回転 */
  transition: 0.5s;
}

.rotatefront span:nth-child(1) {
  background: #fff;
  color: #000;
  transform: rotateX(0deg); /*はじめは回転なし*/
  transform-origin: 0 50% -25px; /* 回転する起点 */
}
.rotatefront span:nth-child(2) {
  background: #000;
  color: #fff;
  transform: rotateX(90deg); /*はじめはX軸に90度回転*/
  transform-origin: 0 50% -25px; /* 回転する起点 */
}
.rotatefront:hover span:nth-child(1) {
  transform: rotateX(-90deg); /* X軸に-90度回転 */
}
.rotatefront:hover span:nth-child(2) {
  transform: rotateX(0deg); /* X軸に0度回転 */
}

.sns img {
  width: 30px;
  height: 30px;
}

/*== アニメーション共通設定 */
/* 滑らかに変形して出現 */
.smooth {
  animation-name: smoothAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  transform-origin: left;
  opacity: 0;
}
.smoothTrigger {
  opacity: 0;
}

@keyframes smoothAnime {
  from {
    transform: translate3d(0, 100%, 0) skewY(12deg);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0) skewY(0);
    opacity: 1;
  }
}
/*　画像の拡大　*/
.zoomIn img {
  transform: scale(1);
  transition: 0.3s ease-in-out; /*移り変わる速さを変更したい場合はこの数値を変更*/
}
.zoomIn a:hover img {
  transform: scale(1.2); /*拡大の値を変更したい場合はこの数値を変更*/
}

/*　画像のマスク　*/
.mask {
  display: block;
  line-height: 0; /*行の高さを0にする*/
  overflow: hidden; /*拡大してはみ出る要素を隠す*/
}

/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #333;
}

/*========= End 共通パーツ ===============*/
/*========= Start ローディング ===============*/
/* Loading背景画面設定　*/
#splash {
  /*fixedで全面に固定*/
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #333;
  text-align: center;
  color: #fff;
}

/*========= End ローディング ===============*/
/*========= Start ヘッダー ===============*/
.header {
  position: fixed; /*fixedを設定して固定*/
  top: 0;
  height: 70px; /*高さ指定*/
  width: 100%; /*横幅指定*/
  z-index: 999; /*最前面へ*/
  /*以下はレイアウトのためのCSS*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px;
  /*== ヘッダータイトル */
  /*== ハンバーガーボタン */
  /*== ハンバーガーメニュー */
}
.header__ttl a {
  font-size: 2rem;
  font-family: "Teko", sans-serif;
}
.header__btn {
  position: sticky;
  z-index: 9999; /*ボタンを最前面に*/
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.header__btn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}
.header__btn span:nth-of-type(1) {
  top: 15px;
}
.header__btn span:nth-of-type(2) {
  top: 23px;
}
.header__btn span:nth-of-type(3) {
  top: 31px;
}
.header__btn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.header__btn.active span:nth-of-type(2) {
  opacity: 0;
}
.header__btn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}
.header__nav {
  /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 50%;
  height: 100vh; /*ナビの高さ*/
  background: #999;
  /*動き*/
  transition: all 0.6s;
}
.header__nav.panelactive {
  right: 0;
}
.header__nav.panelactive .header__nav__list {
  /*ナビの数が増えた場合縦スクロール*/
  position: fixed;
  z-index: 999;
  width: 50%;
  height: 100vh; /*表示する高さ*/
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.header__nav ul {
  /*ナビゲーション天地中央揃え*/
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__nav ul li {
  list-style: none;
  text-align: center;
}
.header__nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/*========= End ヘッダー ===============*/
/*========= Start メインビジュアル ===============*/
#mv {
  top: 0;
  z-index: 1;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
#mv .particle__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#mv .particle__wrapper #particle {
  position: absolute;
  height: 50%;
  vertical-align: bottom;
  z-index: 2;
}
#mv #wave {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
}

/*=== 9-1-4 矢印が動いてスクロールを促す  ====*/
/*スクロールダウン全体の場所*/
.scrolldown {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 1%;
  right: 50%;
  /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
  /*Scrollテキストの描写*/
  /* 矢印の描写 */
}
.scrolldown span {
  /*描画位置*/
  position: absolute;
  left: -20px;
  bottom: 50px;
  /*テキストの形状*/
  color: #333;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  writing-mode: vertical-rl;
}
.scrolldown:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 40px;
  right: -6px;
  /*矢印の形状*/
  width: 1px;
  height: 20px;
  background: #333;
  transform: skewX(-31deg);
}
.scrolldown:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 40px;
  right: 0;
  /*矢印の形状*/
  width: 1px;
  height: 50px;
  background: #333;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove {
  0% {
    bottom: 1%;
  }
  50% {
    bottom: 3%;
  }
  100% {
    bottom: 1%;
  }
}
/*========= End メインビジュアル ===============*/
/*========= Start メインコンテンツ ===============*/
main section {
  /*== 紙芝居風レイアウト */
  /*== About */
  /*== プロフィール */
  /*== 実績 */
}
main section.fixed { /*Safari*/
  position: sticky;
  top: 70px; /*Header高さ分で止まるようにする*/
  /*装飾のためのCSS*/
  background: #fff;
  padding: 170px 30px;
  min-height: 100vh;
}
main section.fixed:last-of-type {
  padding-top: 260px; /*最後のセクションだけ止まらないため、エリア内の情報が少ない時は、HEADER分の高さをpadding-topに追加して上部が見えるようにする*/
}
main section .section__wrapper {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
main section .section__ttl {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.3rem;
  font-family: "Teko", sans-serif;
}
main section .section__description {
  text-align: center;
  margin-bottom: 40px;
}
main section .section__body {
  margin-bottom: 40px;
}
main section .section__btn {
  text-align: center;
}
main section#profile .profile__wrapper {
  display: flex;
  justify-content: center;
}
main section#profile .profile__body {
  margin-left: 30px;
}
main section#profile .profile__body__txt {
  margin-bottom: 20px;
}
main section#profile .profile__body__sns {
  display: flex;
}
main section#works .works__description {
  text-align: center;
}
main section#works ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
main section#works ul li {
  width: 31%;
}
main section#works ul li img {
  width: 100%;
}

/*========= End メインコンテンツ ===============*/
/*========= Start フッター ===============*/
.footer p {
  text-align: center;
  font-weight: bold;
}

/*========= End フッター ===============*/
/*＝＝＝＝＝＝＝＝＝＝＝タブレット以下の見え方＝＝＝＝＝＝＝＝＝＝＝＝＝*/
@media screen and (max-width: 768px) {
  /*========= Start 共通パーツ ===============*/
  /*== テキスト共通設定 */
  p {
    font-size: 13px;
  }
  /*========= End 共通パーツ ===============*/
  /*========= Start ヘッダー ===============*/
  .header {
    height: 50px;
    padding: 5px 20px;
  }
  /*========= Start メインビジュアル ===============*/
  #mv .particle__wrapper {
    max-width: 600px;
  }
  #mv .particle__wrapper #particle {
    width: 90%;
  }
  /*========= End メインビジュアル ===============*/
  /*========= Start メインコンテンツ ===============*/
  main section {
    /*== 紙芝居風レイアウト */
    /*== プロフィール */
    /*== 実績 */
  }
  main section.fixed, main section.fixed:last-of-type {
    position: relative !important; /*sticky解除*/
    top: 0; /*70px⇒0pxに戻す*/
    min-height: auto;
  }
  main section .section__wrapper {
    max-width: 700px;
  }
  main section .section__ttl {
    margin-bottom: 20px;
  }
  main section .section__description {
    margin-bottom: 20px;
  }
  main section .section__body {
    margin-bottom: 20px;
  }
  main section#profile .profile__wrapper {
    display: block;
  }
  main section#profile .profile__img {
    text-align: center;
    margin-bottom: 20px;
  }
  main section#profile .profile__body {
    margin-left: 0;
    margin-bottom: 20px;
  }
  main section#profile .profile__body__txt {
    margin-bottom: 20px;
    text-align: center;
  }
  main section#profile .profile__body__sns {
    justify-content: center;
  }
  main section#works ul {
    display: block;
  }
  main section#works ul li {
    width: 90%;
    margin: 20px auto;
  }
  /*========= End メインコンテンツ ===============*/
}/*# sourceMappingURL=style.css.map */