// 変数定義用スタイルシート宣言
@use "module/variable" as *;


/*========= Start 共通パーツ ===============*/
/*== テキスト共通設定 */
* {
    color: $main-color;
    font-family: 'Sawarabi Gothic', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: $h1-fontSize;
}

h2 {
    font-size:$h2-fontSize;
}

p {
    line-height: 1.5;
}

/*== ボタン共通設定 */
.btn {
    /*背景の基点とするためrelativeを指定*/
    position: relative;
    /*ボタンの形状*/
    display: inline-block;
    width:100%;
    max-width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    outline: none;
    letter-spacing: 0.2rem;

    /*ボタン内側の設定*/
    & span {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1px solid #333;
        /* 重なりを3Dで表示 */
        transform-style: preserve-3d;
        /* アニメーションの設定 数字が少なくなるほど早く回転 */
        transition: 0.5s;
    }
}

.rotatefront {
    & span {
        &:nth-child(1) {
            background: #fff;
            color: #000;
            transform: rotateX(0deg);/*はじめは回転なし*/
            transform-origin: 0 50%  -25px;/* 回転する起点 */
        }

        &:nth-child(2) {
            background: #000;
            color: #fff;
            transform: rotateX(90deg);/*はじめはX軸に90度回転*/
            transform-origin: 0 50%  -25px;/* 回転する起点 */
        }
    }

    &:hover {
        & span {
            &:nth-child(1) {
                transform: rotateX(-90deg);/* X軸に-90度回転 */
            }
            &:nth-child(2) {
                transform: rotateX(0deg);/* X軸に0度回転 */
            }
        }
    }
}


/*== アニメーション共通設定 */
/* 滑らかに変形して出現 */
.smooth{
	animation-name:smoothAnime;
	animation-duration:2s;
	animation-fill-mode:forwards;
    transform-origin:left;
	opacity:0;

    &Trigger {
        opacity: 0;
    }
}
@keyframes smoothAnime{
    from {
        transform:translate3d(0, 100%, 0) skewY(12deg);
        opacity:0;
    }
    to {
        transform:translate3d(0, 0, 0) skewY(0);
        opacity:1;
    }
}


/*　画像の拡大　*/
.zoomIn {
    & img {
        transform: scale(1);
        transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/    
    }

    & a:hover {
        & img {
            transform: scale(1.2);/*拡大の値を変更したい場合はこの数値を変更*/
        }
    }
}
/*　画像のマスク　*/
.mask{
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
}
/*========= End 共通パーツ ===============*/


/*========= Start ヘッダー ===============*/
.header{
    position: fixed;/*fixedを設定して固定*/
    top: 0;
    height: $header-height;/*高さ指定*/
    width:100%;/*横幅指定*/
    z-index: 999;/*最前面へ*/
    /*以下はレイアウトのためのCSS*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;

    /*== ヘッダータイトル */
    &__ttl {
        & a{
            font-size: 2rem;
            font-family: 'Teko', sans-serif;    
        }
    }

    /*== ハンバーガーボタン */
    &__btn{
        position:sticky;
        z-index: 9999;/*ボタンを最前面に*/
        top:10px;
        right: 10px;
		cursor: pointer;
        width: 50px;
        height:50px;

        & span{
            display: inline-block;
            transition: all .4s;
            position: absolute;
            left: 14px;
            height: 3px;
            border-radius: 2px;
            background-color: #666;
            width: 45%;

            &:nth-of-type(1) {
                top:15px;	
            }
            &:nth-of-type(2) {
                top:23px;	
            }
            &:nth-of-type(3) {
                top:31px;	
            }
        }

        &.active {
            & span {
                &:nth-of-type(1) {
                    top: 18px;
                    left: 18px;
                    transform: translateY(6px) rotate(-45deg);
                    width: 30%;
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3){
                    top: 30px;
                    left: 18px;
                    transform: translateY(-6px) rotate(45deg);
                    width: 30%;
                }
            }
        }
    }

    /*== ハンバーガーメニュー */
    &__nav{
        /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
        position:fixed;
        z-index: 999;
        /*ナビのスタート位置と形状*/
        top:0;
        right: -120%;
        width:50%;
        height: 100vh;/*ナビの高さ*/
        background:#999;
        /*動き*/
        transition: all 0.6s;

        &.panelactive {
            right: 0;

            & .header__nav__list{
                /*ナビの数が増えた場合縦スクロール*/
                position: fixed;
                z-index: 999; 
                width: 50%;
                height: 100vh;/*表示する高さ*/
                overflow: auto;
                -webkit-overflow-scrolling: touch;
            }
        }

        & ul {
            /*ナビゲーション天地中央揃え*/
            position: absolute;
            z-index: 999;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);

            & li{
                list-style: none;
                text-align: center;

                & a{
                    color: #333;
                    text-decoration: none;
                    padding:10px;
                    display: block;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    font-weight: bold;
                }
            }
        }
    }
}
/*========= End ヘッダー ===============*/



/*========= Start メインビジュアル ===============*/
.main-visual {
    // 描画されるテキストを中央寄せにする
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    background:hsl(0, 0%, 20%);
}

.particle {
    &__wrapper {
        width: 90%;
        max-width:900px;
        height: 90%;
        max-height:500px;
        background:hsl(0, 0%, 20%);

        display:flex;
        justify-content: center;
        align-items: center;
        
        & #particle{
            width:100%;
            height: 50vh;
            vertical-align: bottom;/*canvasタグ下に余白が生まれるのを防ぐ*/
        }
    }
}
/*========= End メインビジュアル ===============*/



/*========= Start メインコンテンツ ===============*/
.section {
    background:hsl(0, 0%, 20%);

    //*== セクション内共通パーツ */
    &__wrapper {
        max-width: 1000px;
    }
    &__ttl {
        margin-bottom:20px;
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        letter-spacing: 0.3rem;
        font-family: 'Teko', sans-serif;
    }
    &__description {
        text-align: center;
        margin-bottom: 20px;
    }
    &__btn {
        text-align: center;
    }

    & .txt__wrapper {
        text-align: center;
    }

    & .link__sns {
        margin-right: 10px;
        & img {
            width:30px;
            height:30px;
        }
    }

    /*== 紙芝居風レイアウト */
    &.fixed{
        position: -webkit-sticky;/*Safari*/
        position: sticky;
        top:0px;/*Header高さ分で止まるようにする*/
        /*装飾のためのCSS*/
        // background:#fff;
        padding: 0 0 45% 0;
        // min-height: 100vh;
        height: 170vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &:last-of-type{
            padding:40% 0  10% 0;/*最後のセクションだけ止まらないため、エリア内の情報が少ない時は、HEADER分の高さをpadding-topに追加して上部が見えるようにする*/
        }
    }

    /*== プロフィール */
    & .profile {
        &__wrapper {
            display: flex;
            margin-bottom:40px;
        }

        &__body {
            margin-left: 30px;
            &__txt {
                margin-bottom:20px;
            }

            &__sns {
                display: flex;
            }
        }
    }

    /*== 実績 */
    & .works {
        &__wrapper {
            & ul {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
    
                & li {
                    width: 31%;
                    // margin: 0 35px 35px 35px;

                    & img {
                        width:100%;
                    }
                }
            }    
        }
    }
}
/*========= End メインコンテンツ ===============*/


/*========= Start フッター ===============*/
.footer {
    background:hsl(0, 0%, 20%);

    & p {
        text-align: center;
        letter-spacing: 0.3rem;
    }
}
/*========= End フッター ===============*/



/*＝＝＝＝＝＝＝＝＝＝＝タブレット以下の見え方＝＝＝＝＝＝＝＝＝＝＝＝＝*/
@media screen and (max-width:768px){

    /*========= Start 共通パーツ ===============*/
    /*== テキスト共通設定 */
    p {
        font-size:13px;
    }
    /*========= End 共通パーツ ===============*/
    


    /*========= Start ヘッダー ===============*/
    .header{
        height: 50px;
        padding: 5px 20px;
    }
    
    
    /*========= Start メインコンテンツ ===============*/
    .section {

        &.fixed {
            position:relative!important;/*sticky解除*/
            top:0;/*70px⇒0pxに戻す*/
            min-height: auto;
            padding:30px;
        
            &:last-of-type{
                position:relative!important;/*sticky解除*/
                top:0;/*70px⇒0pxに戻す*/
                min-height: auto;
                padding:30px;
            }
        
            &:first-of-type{
                padding:100px 30px 30px 30px;/*最初の要素は上部にHeaderの高さ以上の余白をとる*/
            }
        
            &:nth-of-type(2n){
                padding:100px 30px;
            }    
        }

        /*== プロフィール */
        & .profile {
            &__wrapper {
                display: block;
            }

            &__img {
                text-align: center;
                margin-bottom: 20px;
            }

            &__body {
                &__sns {
                    justify-content: center;
                }
            }
        }
        /*== 実績 */
        & .works {
            &__wrapper {
                & ul {
                    display: block;

                    & li {
                        width: 90%;
                        margin: 10px auto;
                    }
                }
            }
        }
    }
    /*========= Start メインコンテンツ ===============*/

}